body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #fff;
}
.is-dark {
  background-color: #F62459;
  background-image: linear-gradient(45deg, #ff8057 0%,#ff1a74 100%) ,linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1440439307159-c3afc8a8e4ff?dpr=1&auto=format&crop=entropy&fit=crop&w=2000&h=1000&q=40');
}
.gradient-1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8057+0,ff1a74+100 */
background: #ff8057; /* Old browsers */
background: -moz-linear-gradient(45deg, #ff8057 0%, #ff1a74 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #ff8057 0%,#ff1a74 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #ff8057 0%,#ff1a74 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8057', endColorstr='#ff1a74',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.nav {
  padding: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
  border-radius;
}
.promo-img {
  max-width: 100%;
  border-radius: 0px;
  border: 12px solid #fff;
}
.omg-cute {
  background-color: #1a1a1a;
  background: url(../images/omg-cute.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.has-shadow {
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.15);
}
.employee-photo {
  height: 220px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 8px;
}
.employee-1 {
  background-color: #1a1a1a;
  background: url(../images/employee-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-2 {
  background-color: #1a1a1a;
  background: url(../images/employee-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-3 {
  background-color: #1a1a1a;
  background: url(../images/employee-3.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-4 {
  background-color: #1a1a1a;
  background: url(../images/employee-4.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-5 {
  background-color: #1a1a1a;
  background: url(../images/employee-5.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-6 {
  background-color: #1a1a1a;
  background: url(../images/employee-6.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-7 {
  background-color: #1a1a1a;
  background: url(../images/employee-7.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.employee-8 {
  background-color: #1a1a1a;
  background: url(../images/employee-8.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}